# 1. Entornos virtuales y cachés de Python
venv/
env/
__pycache__/
*.pyc

# 3. Secretos y variables de entorno locales (¡Vital por seguridad!)
.env
.env.local
*.pem
*.key

# 4. Archivos de control de versiones
.git/
.gitignore

# 5. Documentación o archivos de tu IDE que el contenedor no necesita
.vscode/
.idea/
README.md